/GLAauction/nbproject/private/
/GLAauction/GLAauction-war/nbproject/private/
/GLAauction/GLAauction-ejb/nbproject/private/
/GLAauction/GLAauction-war/build/
/GLAauction/GLAauction-ejb/build/
/GLAauction/GLAauction-ejb/dist/
/GLAauction/GLAauction-war/dist/